@import 'sortform';
@import 'table';
@import 'pagination';

body {
  font-size: 25px;
}

.wrapper {
  margin-top: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.selectedPage {
  font-weight: bold;
}
